<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>傍晚</string>
		<key>image</key>
		<string>bangwan.jpg</string>
	</dict>
    <dict>
        <key>name</key>
        <string>蹲马桶</string>
        <key>image</key>
        <string>dunmatong.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>放松</string>
        <key>image</key>
        <string>fangsong.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>该死的闹钟</string>
        <key>image</key>
        <string>gaisidenaozhong.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>工作</string>
        <key>image</key>
        <string>gongzuo.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>候车</string>
        <key>image</key>
        <string>houche.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>候机</string>
        <key>image</key>
        <string>houji.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>聚会</string>
        <key>image</key>
        <string>juhui.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>咖啡时光</string>
        <key>image</key>
        <string>kafeishiguang.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>开车</string>
        <key>image</key>
        <string>kaiche.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>赖床</string>
        <key>image</key>
        <string>laichuang.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>懒懒的醒来</string>
        <key>image</key>
        <string>lanlandexinglai.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>起床</string>
        <key>image</key>
        <string>qichuang.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>清晨</string>
        <key>image</key>
        <string>qingchen.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>亲子时光</string>
        <key>image</key>
        <string>qinzishiguang.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>上网</string>
        <key>image</key>
        <string>shangwang.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>睡眠</string>
        <key>image</key>
        <string>shuimian.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>午后</string>
        <key>image</key>
        <string>wuhou.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>学习</string>
        <key>image</key>
        <string>xuexi.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>一个人</string>
        <key>image</key>
        <string>yigeren.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>瑜伽</string>
        <key>image</key>
        <string>yujia.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>运动</string>
        <key>image</key>
        <string>yundong.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>在路上</string>
        <key>image</key>
        <string>zailushang.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>宅</string>
        <key>image</key>
        <string>zhai.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>做家务</string>
        <key>image</key>
        <string>zuojiawu.jpg</string>
    </dict>
</array>
</plist>
